@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Reset & Base Styles */
body {
  margin: 0;
  background-color: #030712;
  /* gray-950 */
  color: #f3f4f6;
  /* gray-100 */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}